## MacOS
*.DS_Store
.bundle
.sass-cache
node_modules
package.json

_site
.sass-cache
.jekyll-metadata
.jekyll-cache/
_glynn.yml
_drafts
*.save*
*.save
*.css.map
notes.md
.lock
Gemfile.lock
Gemfile.lock
