<!-- <header class="site-header cf"> -->
	
	<div id="navWrapper" class="wrapper">
		<nav id="site-nav">
			<a class="logo" href="{{ site.baseurl }}/" title="{{ site.title }} home page">
			<img class="nav-logo" src="/{{ site.theme-path }}/logo.svg" title="{{ site.title }} logo" /></a>
			<div id="threeBarNav" class="container" hidden onclick="clickNav(this)">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
			<ul id="navMenuUl">
				{% for page in site.pages | sort %}
					{% if page.title %}{% unless page.exclude_from_nav %}
					<li {% if page.description %}data-wenk="{{ page.description }}" 
							data-wenk-pos="bottom"{% endif %} class="{{ page.nav-class }}">
						<a title="{{ page.title }}" class="page-link" href="{{ page.url | prepend: site.baseurl }}">
							{% if page.nav-title %}{{ page.nav-title }}
							{% else %}{{ page.title }}{% endif %}
						</a>
					</li>
				{% endunless %}{% endif %}{% endfor %}
			</ul>
		</nav>
	</div>

<!-- </header> -->
<script>
	function clickNav(x) {
		x.classList.toggle("open");
		const nav = x.parentNode
		nav.classList.toggle("open")
	}
</script>