<div class="page-listing">
    {% assign items = site.cs  | sort: 'date'%}
    {% for post in site.cs reversed %}
    <div class="listing blogListing"> 
        <div class="imgWrapper">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail }}">
            {% else %}
                <div style="padding:12px;text-align: center;">
                    <span role="img" style="font-size: 20px;"></span>
                </div>
            {% endif %}
        </div>
        <div class="titleWrapper" style="padding-right: 5px;">
            <h2><a class="post-link" 
                href="{{ post.url | prepend: site.baseurl }}" 
                title="Read more: {{ post.title }}">{{ post.title }}</a>
            </h2>
            <!-- <p class="contentSummary">{{ post.content | strip_html | truncate: 20 }}</p> -->
            <div class="inline-post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
        </div>
    </div>
    {% endfor %}
</div>