@import "_mixin";

html {
	border-top: 2px solid #fff;
}
 
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  #contents {
    // padding: 0 10vw;
    max-width: 800px;
    width: -webkit-fill-available;
    #homeSiteDescription, #recentPostDiv {

      &::after {
        content: ' ';
        display: block;
        border-bottom: 1px solid lighten($theme1, 10%);
        padding-top: 20px;
      }
    
    }
  }
}

@include notDesktop {
  body {
    #contents {
      padding: 0 1px;
      #homeSiteDescription {
        margin: 0 auto;
        padding: 0 10px;
      }
    }
  }
}

// @include veryWideDesktop {
//   body {
//     #contents {
//       padding: 0 20vw;
//     }
//   }
// }

.wrapper {
  padding: 0 10px;
}
.mainCate {
  font-weight: bold;
  font-size: 1.2rem;
}