@import "_mixin";


#helloH1 {
  
  padding: 5px 0;
}
#homeSiteDescription {
  text-align: center;
  line-height: 170%;
  font-size: 110%;
  cursor: pointer;
  margin-bottom: 20px;
  // padding-left: 4px;
  // padding-right: 10px;
}

// #mainImg {
//   margin-left: 4px;
//   max-width: $breakpoint-desktop / 9 * 8;
  // &:hover {
  //   opacity: 0.7;
  // }
// }

@include desktop {
  #mainImgWrapper {
    display: inline-block;
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.5s linear; // 접어두기 딜레이
    $size: -50px;
    #mainImg{
      transform: translateY($size);       // 사진 위치를 위로 고정
      transition: transform 0.5s linear;
    }

    &:hover {
      max-height: 500px;
      transition: max-height 0.5s linear;
      #mainImg {
        transform: translateY(0);       // 사진 위치 아래로
        transition: transform 0.5s linear;
      }
    }
  }

}


.cateWrapper {
  padding: 0 10px;
  .retroUl {
    padding-top: 1px;
    list-style: none;
    li {
      padding: 0.1rem;
      a{
        font-weight: 500;
        font-size: 15px;
      }
    } 
  }
}

// recentPost 부분
.recentPLi {
  font-size: 1.1rem;
  // line-height: 140%;
  margin-bottom: 5px;
  letter-spacing: -1px;
}

// 회고록 부분 시작

.retroA {
  font-weight: 500;
  span {
    margin-right: 10px;
    font-size: 1.4rem;
  }
}
