html {
	border-top: 2px solid #fff;
}

body {
	padding: 3rem;
}

.wrapper {
  max-width: 55rem;
  margin: 0 auto;
}

h1.post-title {
  font-family: $font-black;
  font-size:30px;
  text-align: left;
}