@import "_mixin";


#helloH1 {
  
  padding: 5px 0;
}
#homeSiteDescription {
  text-align: center;
  line-height: 170%;
  font-size: 110%;
  cursor: pointer;
  margin-bottom: 20px;
  // padding-left: 4px;
  // padding-right: 10px;
}

#recentPostDiv, #selectedPosts {

  &::before {
    content: ' ';
    display: block;
    border-bottom: 1px solid $color-light-navy;
    // padding-top: 20px;
  }

}

@include notDesktop {
  #homeSiteDescription {
    margin: 20px 0;
    // margin-bottom: 20px;
    padding: 0 10px;
  }
}
// #mainImg {
//   margin-left: 4px;
//   max-width: $breakpoint-desktop / 9 * 8;
  // &:hover {
  //   opacity: 0.7;
  // }
// }

.shimmer {
  color: grey;
  // display:inline-block;
  -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s 2;
}

@keyframes shimmer {
  100% {-webkit-mask-position:left}
}

#mainImg {
  margin: 0;
}

// @include mobile {
  // #mainImgWrapper {
  //   display: inline-block;
  //   max-height: 200px;
  //   overflow: hidden;
  //   transition: max-height 0.5s linear; // 접어두기 딜레이
  //   $size: -50px;
  //   #mainImg{
  //     transform: translateY($size);       // 사진 위치를 위로 고정
  //     transition: transform 0.5s linear;
  //   }

  //   &:hover {
  //     max-height: 500px;
  //     transition: max-height 0.5s linear;
  //     #mainImg {
  //       transform: translateY(0);       // 사진 위치 아래로
  //       transition: transform 0.5s linear;
  //     }
  //   }
  // }

// }

#selectedPosts {
  h1 {
    margin-bottom: 0.5rem;
  }
  .retroUl {
    padding-top: 1px;
    padding-left: 3px;
    list-style: none;
    margin: 3px 0;
    li {
      padding: 0.1rem;
      letter-spacing: -1px;
      a{
        font-weight: 500;
        font-size: 15px;
        
      }
    } 
  }
}


// recentPost 부분
.recentPLi {
  font-size: 1.1rem;
  // line-height: 140%;
  margin-bottom: 5px;
  letter-spacing: -1px;
}

// 회고록 부분 시작

.retroA {
  font-weight: 500;
  span {
    margin-right: 10px;
    font-size: 1.4rem;
  }
}

@include notDesktop {
  #recentPostDiv {
    padding-right: 3px;
  }
}