/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/
@import "_mixin";


.nav-logo {
	float: left;
	position: relative;
    bottom: -15px;
    margin-left: 1.5rem;
	width: 4rem;
	margin-top: 1rem;
	opacity: 0.75;
}

.nav-logo:hover {
	opacity: 1;
}

@include mobile { 
	.nav-logo {
		margin: 0;
		width: 3rem;
	}
}