html {
	border-top: 2px solid #fff;
}

body {
	padding: 3rem;
}

.wrapper {
  max-width: 55rem;
  margin: 0 auto;
  padding: 10px;
}

.blogListing {
  display:flex;
}

.mainCate {
  font-weight: bold;
  font-size: 1.2rem;
}

.mainPost { 
 font-weight: 400; 
}
.imgWrapper {
  width: 20vw;
  min-width: 20vw;
  max-width: 20vw;
    margin: 5px 20px;
}
.cateWrapper {
  border-top: 1px solid $theme1;
  margin-top: 1rem;
  padding: 10px;
}
#helloH1 {
  margin-top: 30px;
}
#homeSiteDescription {
  line-height: 170%;
  font-size: 110%;
  cursor: pointer;
}
h1.post-title {
  font-weight: bold;
  font-size:30px;
  text-align: left;
}


#resume-Intro {
  width:100%;display:flex;flex-flow: column nowrap;
  border-bottom: 1px solid #eaeaea;
}

#resume-Intro .pageTitle{
  border-top: none;
  // padding:0;
  margin-bottom:0;
  color:black;
}

.resume-Job {
  font-size:16px;margin:3px 2px;
}

.resume-Email {
  font-size:15px;
  font-weight:200;
  margin:6px 0;
}

.resume-Explain {
  font-size: 15px;
margin: 10px 0 20px;line-height: 20px;
font-weight: 500;
}

.resume-SectionHeader {
  width: 100%;
margin: 50px 0 10px;font-size: 22px;
color: #696969;
font-weight:800;
}

.resume-Section {
  width: 100%;
display: flex;
flex-flow: column nowrap;
margin-bottom: 20px;
}

.resume-Org {
  font-weight: 300;
  font-size: 20px
}

.resume-jobDate {
  font-weight: 400;
font-size: 14.5px;
margin: 5px 0;
}
.resume-Project {
  align-items: center;
  margin: 5px 0;
}
.resume-PName {
  font-size: 18px;font-style:italic;font-weight:bold;
  margin-top: 15px;
}

.resume-PExplain {
  font-size: 14px;
  margin-top:1px;
  margin-bottom: 7px;
}

.resume-W {
  font-weight: 400;
font-size: 14px;
margin: 2px 0;
}

.resume-PExplain, .resume-W {
  padding-left: 5px;
}

// blogs.html
.inline-post-date {
  font-size: xx-small;
}