/*------------------------------------*\
    #COLOURS
\*------------------------------------*/

$theme1: #f57a32;
$theme2: #f05e08;
$color-main: #000;
$color-grey: #b1a69d;
$color-grey-light:#eaeaea;
$color-pale-bg: #ffffff;

$border-on-light: darken($color-pale-bg, 5%);
$color-text-lighter: $color-grey;

// paths
//Usage: background-image: url(#{$themepath}/blockquote.png);
$themepath: '/theme-assets';