/*------------------------------------*\
    #COLOURS
\*------------------------------------*/

$theme1: #f57a32;
$color-main: #000;
$color-grey: #b1a69d;
$color-grey-light: rgb(218, 205, 205);
$color-pale-bg: #ffffff;

$border-on-light: darken($color-pale-bg, 5%);
$color-text-lighter: $color-grey;

// paths
//Usage: background-image: url(#{$themepath}/blockquote.png);
$themepath: '/theme-assets';


// font
$font-thin: 'Pretendard-Thin', san-serif;
$font-extra-light: 'Pretendard-ExtraLight', san-serif;
$font-light: 'Pretendard-Light', san-serif;
$font-regular: 'Pretendard-Regular', san-serif;
$font-semi-bold: 'Pretendard-SemiBold', san-serif;
$font-bold: 'Pretendard-Bold', san-serif;
$font-extra-bold: 'Pretendard-ExtraBold', san-serif;
$font-black: 'Pretendard-Black', san-serif;