// Breakpoints
$breakpoint-mobile: 335px;
// $breakpoint-mobile: 1px; // 최소한까지 작아지면 mobile로 치자.
$breakpoint-tablet: 758px;
$breakpoint-desktop: 800px;
// $breakpoint-desktop: 1024px;

/*------------------------------------*\
    #COLOURS
\*------------------------------------*/

$theme1: #031930;
$theme2: #3a3d42;
$theme3: #8ba0bb;
$color-light-navy: #d5dce6;
$color-main: rgb(9, 23, 53);
$color-grey: #b1a69d;
$color-grey-light:#eaeaea;
$color-pale-bg: #ffffff;

$border-on-light: darken($color-pale-bg, 5%);
$color-text-lighter: $color-grey;

// paths
//Usage: background-image: url(#{$themepath}/blockquote.png);
$themepath: '/theme-assets';