---
layout: default
# 모든 블로그 글 리스트를 보여준다
---

<h1 class="post-title">{{ page.title }}</h1>
<!-- <div class="post-content">
{{ content }}
</div> -->

<ul class="postList">
   {% for post in site.categories.blog %}
    <li class="postRow">  
        <div class="imgWrapper">
            {% if post.thumbnail %}
            <a href="{{ post.url | prepend: site.baseurl }}" title="Read more: {{ post.title }}">
                <img src="{{ post.thumbnail }}">
            </a>
            {% else %}
            <a href="{{ post.url | prepend: site.baseurl }}" title="Read more: {{ post.title }}">
                <img src="{{ site.baseurl }}/assets/images/cod2.jpeg">
            </a>
            {% endif %}
        </div>
        <div class="titleWrapper">
            <a class="post-link" 
                href="{{ post.url | prepend: site.baseurl }}" 
                title="Read more: {{ post.title }}">{{ post.title }}</a>
            <span class="inline-post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        </div> 
    </li>
    {% endfor %}
</ul>
