---
layout: default
# cs 글 하나하나의 페이지
---

<div class="wrapper">

<article>

<h1 class="post-title">{{ page.title }}</h1>

<div class="post-content">
{{ content }}
</div>

<div class="page-listing">
    <!-- {% assign items = site.cs  | sort: 'date' | reverse %} -->
    {% for post in site.categories.cs %}
    <div class="listing blogListing"> 
        <div class="imgWrapper">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail }}">
            {% else %}
                <span style='color:rgb(78, 77, 77);font-size: 0.6rem;background-color: rgb(232, 232, 233);font-weight: 100;display:block;line-height: 100%;'>
                    {{ post.title }}
                </span>
            {% endif %}
        </div>
        <div class="titleWrapper" style="padding-right: 5px;">
            <h2><a class="post-link" 
                href="{{ post.url | prepend: site.baseurl }}" 
                title="Read more: {{ post.title }}">{{ post.title }}</a>
            </h2>
            <!-- <p class="contentSummary">{{ post.content | strip_html | truncate: 20 }}</p> -->
            <div class="inline-post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
        </div>
    </div>
    {% endfor %}
</div>
    