---
layout: default
---

<div class="wrapper">
<article class="post">
<div class="post-content">
<div id='resume-Intro'>
    <h2 class="pageTitle">박하은<span class='resume-Job'> Software Engineer</span></h2>
    <span class='resume-Email'>Email: haileyhe01@gmail.com</span>
    <span class='resume-Explain'>
    레주메 내용.
    </span>
</div> 

<div class='resume-SectionHeader'>
    <span role='img' aria-label='Woman Technologist'>👩🏻‍💻 </span>
    Work Experience.</div>
<div class='resume-Section'>
    <div class='resume-Org'>유클리드소프트</div>
    <span class='resume-JobDate'>Software Engineer | 2020.12 ~ 현재</span>
    <div class='resume-Project'>
        <div class='resume-PName'>국가정보자원관리원 인공지능 모니터링맵 3차 구축</div>
        <p class='resume-PExplain'>
            국가정보자원관리원에서 관리하는 모든 네트워크 호스트간의 관계를 시각화해<br/>
             연결 상태 및 문제를 바로 관제할 수 있도록 한다.
        </p>
        <p class='resume-W'>- GDB에 필요한 네트워크 구성 자원을 모델링 </p>
        <p class='resume-W'>- 파이썬으로 모델링한 데이터를 neo4j GDB에 노드, 엣지의 형태로 생성</p>
        <p class='resume-W'>- go.js로 네트워크 분류체계 웹 페이지 내 검색 구현</p>
    </div>
    <div class='resume-Project'>
        <div class='resume-PName'>카이스트 의약품 중복 조합 방지 Deep DDIX</div>
        <p class='resume-PExplain'>
           유저가 선택한 의약품을 기준으로 함께 복용하면 위험한 의약품 (DUR) 조합을 보여준다.
        </p>
        <p class='resume-W'>- PHP로 DB에서 필요한 데이터 조회 </p>
        <p class='resume-W'>- JavaScript로 위험 조합 노드 및 엣지 시각화 구현</p>
    </div>
    <div class='resume-Project'>
        <div class='resume-PName'>창업진흥원 온라인 창업교육 플랫폼 구축</div>
        <p class='resume-PExplain'>
            유저에게 선택적으로 메일, SMS와 카카오 알림톡으로 알림을 보낸다. 
        </p>
        <p class='resume-W'>- 웹 알림 전송 및 보낸 알림 조회 페이지 구현 </p>
        <p class='resume-W'>- 네이버 API 이용해 메일, SMS, 카카오 알림톡과 웹 사이트 내 알림 전송 기능 구현</p>
    </div>
</div>

<div class='resume-SectionHeader'>
    <span role='img' aria-label="">👩🏻‍💻 </span>
    Other Experience.</div>
<div class='resume-Section'>
    <span class='resume-Org'>대덕인재개발원</span>
    <p class='resume-W'>- WIX를 벤치마킹해 노코드 웹빌더 어플리케이션 'WIZ' 개발. (JAVA, Spring, JS)</p>
    <p class='resume-W'>- JAVA, Spring Framework, 웹 기초를 배우고 3번의 팀 프로젝트 진행</p>
</div>
<div class='resume-Section'>
    <span class='resume-Org'>자격증</span>
    <p class='resume-W'>- SQL Developer</p>
    <p class='resume-W'>- 네트워크관리사 2급</p>
    <p class='resume-W'>- 정보처리산업기사</p>
</div>

<div class='resume-SectionHeader'>
    <span role='img' aria-label="">👩🏻‍💻 </span>
    Skills.</div>
<div class='resume-Section'>
    <span class='resume-Org'>Python</span>
    <p class='resume-W'>- Django Framework를 사용해 동적 웹 사이트를 만들 수 있습니다. </p>
    <p class='resume-W'>- 이터레이터, 제너레이터 등 사용 가능합니다.</p>
    <p class='resume-W'>- </p>
</div>

<div class='resume-Section'>
    <span class='resume-Org'>Javascript</span>
    <p class='resume-W'>- ES6+ 문법에 익숙합니다.</p>
    <p class='resume-W'>- 정적 블로그를 만들 수 있습니다.</p>
    <p class='resume-W'>- Query 없이 바닐라js 사용에 능숙합니다.</p>
</div>
<div class='resume-Section'>
    <span class='resume-Org'>React</span>
    <p class='resume-W'>- 정적 블로그를 만들 수 있습니다.</p>
</div>
<div class='resume-Section'>
    <span class='resume-Org'>JAVA</span>
    <p class='resume-W'>- Spring Framework를 사용할 수 있습니다.</p>
    <W>- 정적 블로그를 만들 수 있습니다.</W>
    <p class='resume-W'>- Query 없이 바닐라js 사용에 능숙합니다.</p>
</div>
</div>

</article>
</div><!-- end wrapper -->
