---
layout: default
# 모든 til 글의 목록을 보여준다.
---

<main>
<h1 class="post-title">{{ page.title }}</h1>
<!-- 
<div class="post-content">
{{ content }}
</div> -->

<ul class="postList">
    <!-- {% assign items = site.til  | sort: 'date' | reverse %} -->
    {% for post in site.categories.til %}
    <li class="postRow">  
        <div class="imgWrapper">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail }}">
            {% else %}
            <img src="{{ site.baseurl }}/assets/images/cod2.jpeg"/>
            {% endif %}
        </div>
        <div class="titleWrapper">
            <h2><a class="post-link" 
                href="{{ post.url | prepend: site.baseurl }}" 
                title="Read more: {{ post.title }}">{{ post.title }}</a>
            </h2>
            <span class="inline-post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        </div>
    </li>
    {% endfor %}
    </div>
</ul>
</main>